.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-row > div {
    margin: auto 0;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-column > div {
    margin: 0 auto;
}
.box-icon {
    width: 25px;
}
.box-icon i {
    display: block;
}
.button-hover {
    transition: color 0.1s;
}
.button-hover:hover {
    color: var(--font-color-bright-hover)
}
.full {
    width: 100%;
    height: 100%;
}
.border-radius-regular {
    border-radius: 10px;
}
