.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-row > div {
    margin: auto 0;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-column > div {
    margin: 0 auto;
}
.box-icon {
    width: 25px;
}
.box-icon i {
    display: block;
}
.button-hover {
    transition: color 0.1s;
}
.button-hover:hover {
    color: var(--font-color-bright-hover)
}
.full {
    width: 100%;
    height: 100%;
}
.padding-surround {
    padding: 10px;
    box-sizing: border-box;
}
.border-radius-regular {
    border-radius: 10px;
}
.image-cover1 {
    --r: 45deg;
    --d: 5%;
    -webkit-mask:
            linear-gradient(var(--r), transparent var(--d),red 0 calc(100% - var(--d)), transparent 0);
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title {
    font-size: 30px;
    color: var(--font-color-dark);
    font-weight: 600;
}
.hint {
    font-size: 12px;
    color: var(--font-color-bright-hover);
    font-weight: 300;
}
