@import "theme.styl"

theme_color()
  for item in themeList
    [data-theme = {item.name}] & {
      --background-color item.background-color
      --theme-color-bright item.theme-color-bright
      --theme-color item.theme-color
      --theme-color-dark item.theme-color-dark
      --accent-color item.accent-color
      --accent-color-dark item.accent-color-dark
      --error-color item.error-color
      --black-color item.black-color
      --grey-color item.grey-color
      --grey-color-dark item.grey-color-dark
      --grey-color-bright item.grey-color-bright
      --white-color item.white-color
      --font-title-color item.font-title-color
      --font-subject-color item.font-subject-color
      --font-inverse-color item.font-inverse-color
      --font-text-color item.font-text-color
      --object-unfocus-color item.object-unfocus-color
    }
