bright_theme = {
  name: "bright"
  theme-color-bright: #29b6f6
  theme-color: #039be5
  theme-color-dark: #0277bd
  background-color: #ffffff
  font-title-color: #000000
  font-subject-color: #90a4ae
  font-inverse-color: #ffffff
  font-text-color: #000000
  object-unfocus-color: #b0bec5
  object-focus-color: #0277bd
}

dark_theme = {
  name: "dark"
  sidebar-color: #37474f
  background-color: #263238
  font-color-bright: #ffffff
  font-color-dark: #000000
}

themeList = (bright_theme dark_theme);
