bright_theme = {
  name: "bright"
  sidebar-color: #4527a0
  background-color: #ffffff
  font-color-bright: #ffffff
  font-color-dark: #000000
  font-color-bright-hover: #b0bec5
}

dark_theme = {
  name: "dark"
  sidebar-color: #37474f
  background-color: #263238
  font-color-bright: #ffffff
  font-color-dark: #000000
}

themeList = (bright_theme dark_theme);
