bright_theme = {
  name: "bright"
  theme-color-bright: #9FB66B
  theme-color: #5A8100//#039be5
  theme-color-dark: #3A5B22//#0277bd
  background-color: #FFF9E9//#ffffff
  accent-color: #FFB400
  accent-color-dark: #FF6C02
  error-color: #f17463
  black-color: #2c3319//#3B402E
  grey-color-bright: #C6CCBA
  grey-color: #A7AD9B
  grey-color-dark: #7A806E
  white-color: #ffffff
  font-title-color: #1C210E
  font-subject-color: #A7AD9B
  font-inverse-color: #ffffff
  font-text-color: #1C210E
  object-unfocus-color: #A7AD9B
  object-focus-color: #0277bd
}

dark_theme = {
  name: "dark"
  sidebar-color: #37474f
  background-color: #263238
  font-color-bright: #ffffff
  font-color-dark: #000000
}

themeList = (bright_theme dark_theme);
